<a href="https://colab.research.google.com/github/nurfnick/Galaxies/blob/main/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pa
import numpy as np

In [13]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Galaxies/main/galaxies.csv')

In [14]:
data

             Name   RA (195  0) Dec m_zw  ...    FLWO#  Notes and Other Names
0             NaN       NaN          NaN  ...      NaN    NaN             NaN
1      00006+2142        36   21420014.4  ...      NaN  Sy2,M      K334,IVZw1
2      00006-0211        36   -2110014.3  ...   T02072    NaN             NaN
3           N7814      41.1     15520312  ...      NaN    NaN             NaN
4      00010+2256       100     22560014  ...   T03645    NaN             NaN
...           ...       ...          ...  ...      ...    ...             ...
2398          NaN       NaN          NaN  ...      NaN    NaN             NaN
2399  CfA 1 Surve  y   Data   from Huchr  ...  updated    NaN             NaN
2400     with new  and impr  oved veloci  ...      NaN    NaN             NaN
2401          NaN       NaN          NaN  ...      NaN    NaN             NaN
2402  Copyright t  he Smith  sonian Inst  ...      NaN    NaN             NaN

[2403 rows x 13 columns]

In [17]:
data['BT']

0          NaN
1          NaN
2          NaN
3        11.35
4          NaN
         ...
2398       NaN
2399    982, A
2400       NaN
2401       NaN
2402       NaN
Name: BT, Length: 2403, dtype: object